.wd-quizzes-grid,
.wd-quizzes-grid * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #2e3a45;
}

.wd-quizzes-grid {
  margin: 0;
}

.wd-quizzes-grid > li {
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1 !important;
  border-left: none !important;
}

.wd-quizzes-grid > li > div {
  padding: 6px;
  border-left: 1px solid #c7cdd1 !important;
}

.wd-quizzes-grid > li > div.wd-quiz-section-collapse {
  padding: 0;
}

.wd-quizzes-grid > li > div.wd-quiz-section-collapse > ul > li {
  padding: 12px 5px 12px 5px;
  border-top: 1px solid #c7cdd1 !important;
  border-left: 4px solid green;
  border-right: 0;
  border-bottom: 0;
  display: inline-flex;
  align-items: center;
}
.wd-quizzes-grid
  > li
  > div.wd-quiz-section-collapse
  > ul
  > li
  .wd-quizzes-grid-content-text {
  display: block;
  padding-left: 12px;
}

.wd-quizzes-grid
  > li
  > div.wd-quiz-section-collapse
  > ul
  > li
  .wd-quizzes-grid-content-details {
  display: block;
  color: rgb(45, 59, 69);
  font-size: 0.875rem;
}

.wd-quizzes-grid > li > ul > li .wd-quizzes-grid-content-actions {
  display: inline-flex;
  align-items: center;
  padding-right: 8px;
}

.wd-quizzes-grid-content-actions button.wd-quiz-weightage {
  border-radius: 12px !important;
  padding-left: 6px;
  padding-right: 6px;
}

.wd-content-child {
  padding-left: 40px !important;
}

.wd-quizzes-grid > li {
  margin-bottom: 20px;
  padding: 0;
}

.wd-quizzes-grid > li > .wd-quizzes-grid-section {
  padding: 12px 6px;
  padding-left: 8px;
  padding-right: 13px;
}

/* Expanding Caret */
.wd-quizzes-grid-section i.fa-caret-down[aria-expanded="false"] {
  transform: rotate(-90deg);
}

.wd-quizzes-grid.list-group a:hover {
  text-decoration: none;
}

.wd-quizzes-grid.list-group .list-group-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}