.button-sidebar-wide {
    color: #2d3b45;
    text-decoration: none;
}

.wd-quiz-questions {
    margin: 0 0 13px;
    padding: 0 0 0 20px;
    list-style: none;
}

.wd-quiz-questions .list-group-item {
    padding: 0 0 0 20px;
    border: none;
    color: rgb(181, 40, 40);
}

.wd-quiz-questions .list-group-item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.wd-quiz-questions .list-group-item.active {
    font-weight: bold;
    background-color: transparent;
}

.wd-quiz-questions .list-group-item .wd-quiz-question-flag-icon {
    margin-bottom: 4px;
    font-size: 10px;
    margin-left: -15px;
    margin-right: 5px;
}