body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Lato Extended","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

table td {
  padding: 0;
  border: 0;
}

.wd-content {
  margin-left: 85px;
  display: inline-flex;
}

/* .wd-content .wd-left-side {

}

.wd-content .wd-not-left-side {

}

.wd-content .wd-not-left-side .wd-right-side {

}

.wd-content .wd-not-left-side .wd-middle-content {
  
} */