/* Desktop Navigation */
.wd-kanbas-navigation-container {
    background-color: black;
    width: 84px;
    position: fixed;
    top: 0;
    bottom: 0;
  }
  
  .wd-kanbas-navigation {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: inherit;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
  }
  .wd-kanbas-navigation li {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .wd-kanbas-navigation li.wd-active {
    background-color: white;
  }
  .wd-kanbas-navigation li.wd-active.wd-nav-account svg {
    color: black !important;
  }
  .wd-kanbas-navigation li.wd-active a {
    color: rgb(181, 40, 40);
  }
  .wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
  }
  .wd-kanbas-navigation a svg {
    color: rgb(181, 40, 40);
    font-size: 2em;
    margin-bottom: 5px;
    display: inline-flex;
  }
  
  .wd-kanbas-navigation .wd-kanbas-nav-item {
    padding-top: 10px;
    padding-bottom: 6px;
  }
  
  .wd-icon-white {
    color: white !important;
  }
  
  .wd-kanbas-navigation-bottom {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
  }
  
  .wd-kanbas-navigation-bottom li a {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgb(181, 40, 40);
    text-decoration: none;
  }
  
  .wd-kanbas-navigation-bottom a svg {
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
  }
  
  .wd-kanbas-navigation-bottom .wd-kanbas-navigation-bottom-item {
    padding-top: 10px;
    padding-bottom: 6px;
  }
