.wd-modules,
.wd-modules * {
  border-radius: 0% !important;
  border: none;
  margin: 0px;
  padding: 0px;
  color: #2e3a45;
}

.wd-modules {
  margin: 0;
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1 !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid #c7cdd1 !important;
}

.wd-modules > li > ul > li {
  padding: 12px 5px 12px 5px;
  border-top: 1px solid #c7cdd1 !important;
  border-left: 4px solid green;
  border-right: 0;
  border-bottom: 0;
}
.wd-modules > li > ul > li > .wd-modules-content-text {
  padding-left: 12px;
  display: inline-block;
}
.wd-modules > li > ul > li > .wd-modules-content-actions {
  padding-right: 8px;
}

.wd-button-standard {
    border: 1px solid #c7cdd1 !important;
    border-radius: 3px !important;
    color: #2d3b45 !important;
    background: #f5f5f5 !important;
}

.wd-button-red {
    border: 1px solid #D41A2B !important;
    border-radius: 3px !important;
    color: #ffffff !important;
    background: #D41A2B !important;
}

.wd-content-child {
  padding-left: 40px !important;
}

.wd-modules > li {
  margin-bottom: 20px;
  padding: 0;
}

.wd-modules > li > .wd-modules-section {
  padding: 12px 6px;
  padding-left: 8px;
  padding-right: 13px;
}
